   <html>
<body style="background-color: #d0d9e9bd;">
<section>
   <div class="container">
        <div class="row justify-content-center">
            <h1>
                <a href="https://www.top10investment.com">top10investment.com</a>
            </h1>

            <h1 class="text-center"> Cookie Policy </h1>

            <p>
                This website uses cookies.
            </p>

            <p>
                A cookie is a small text file that is downloaded to your computer that gives you a more personalized
                experience
                when using our website. They are not harmful and are not used to identify you personally.
            </p>

            <p>
                For example, a cookie can record certain information about a visitor to a website to tailor their
                options for
                when they next visit.
            </p>

            <p>
                By continuing to use this website we at Go4.finance will assume that you are happy with our cookie
                policy and
                that we can place cookies on your computer device.
            </p>

            <p>
                Most internet browsers will allow you to turn off cookies if you wish, you should refer to the Help
                guide of
                your browser to learn how to do this. But please remember that disabling or blocking cookies may impact
                your
                ability to use websites and the services that they offer.
            </p>

            <p>
                Some tools you may find useful for working with cookies:
            </p>
            <div>
                <ul>
                    <li>
                        Google Analytics Opt-out Browser Add-on - <a href="https://tools.google.com/dlpage/gaoptout"
                            target="_blank"></a>
                    </li>
                    <li>
                        Your Online Choices - <a href="http://www.youronlinechoices.com/uk/"
                            target="_blank">http://www.youronlinechoices.com/uk/ </a>

                    </li>
                </ul>
            </div>
            <p>
                To learn more about cookies visit
            </p>
            <div>
                <ul>
                    <li>
                        All about Cookies - <a href="http://www.allaboutcookies.org/"
                            target="_blank">http://www.allaboutcookies.org/</a>
                    </li>
                </ul>
            </div>
            <p>Cookies we use</p>
            <h4>Necessary Cookies
            </h4>
            <p>
                These help to make a website usable by enabling basic functions like page navigation and access to
                secure areas of the website. The website cannot function properly without these cookies:
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cookie Name:</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Type</th>
                        <th scope="col">Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">__cfduid

                        </th>
                        <td>go4.finance

                        </td>
                        <td>Used by the content network, Cloudflare, to identify trusted web traffic
                            </td>
                        <td>HTTP</td>
                        <td>29 Days

                        </td>

                    </tr>
                    <tr>
                        <th scope="row">_biz_flagsA

                        </th>
                        <td>.cloudflare.com

                        </td>
                        <td>This cookie stores whether or not the user has submitted a form</td>
                        <td> HTTP</td>
                        <td>1 year

                            </td>
                    </tr>
                </tbody>
            </table>
            <h4>Statistics Cookies
            </h4>
            <p>These help a website owner to understand how visitors interact with their website by collecting and reporting information anonymously:
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cookie Name:</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Type</th>
                        <th scope="col">Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">_biz_nA

                        </th>
                        <td>.cloudflare.com

                        </td>
                        <td>
                            This cookie is used to record website and server performance with each visit to the site.
                        </td>
                        <td>HTTP</td>
                        <td>1 year

                        </td>

                    </tr>
                    <tr>
                        <th scope="row">
                            _biz_pendingA
                        </th>
                        <td>
                            .cloudflare.com
                        </td>
                        <td>
                            This cookie is used to record website and server performance with each visit to the site. The data is aggregated and analyzed; therefore, it remains anonymous upon use.                        
                        <td> 
                            
                        </td>                            
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _biz_uid
                        </th>
                        <td>
                            .cloudflare.com
                        </td>
                        <td>
                            Used to record website and server performance with each visit to the site. The data is aggregated and analyzed; therefore, it remains anonymous upon use                        
                        </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _mkto_trk
                        </th>
                        <td>
                            .cloudflare.com
                        </td>
                        <td>
                            This cookie is associated with an email marketing service provided by Marketo. This tracking cookie allows a website to link visitor behaviour to the recipient of an email marketing campaign, to measure campaign effectiveness.
                        </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            2 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _BEAMER_DATE_zeKLgqli17986
                        </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            This cookie is used by hotjar to store the latest date in which the feed was opened.
                        </td>
                        <td> 
                            HTTP
                        </td>                            
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _BEAMER_FIRST_VISIT_zeKLgqli17986
                        </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            This cookie is set whenever you sign up to receive Beamer updates, and is necessary to the operation of Beamer    
                        </td>                        
                        <td> 
                            HTTP
                        </td>                            
                        <td>
                            8 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _BEAMER_LAST_UPDATE_zeKLgqli17986                        </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            This cookie is used by hotjar for user behavior analytic data.                        </td>                        
                        <td> 
                            
                        </td>                            
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _BEAMER_USER_ID_zeKLgqli17986 
                       </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            This cookie is set whenever you sign up to receive Beamer updates.
                        </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _hjAbsoluteSessionInProgress 
                       </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            This cookie is used to detect the first pageview session of a user. This is a True/False flag set by the cookie
                        </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            1 day
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            ajs_anonymous_id 
                       </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            These cookies are generally used for Analytics and help count how many people visit a certain site by tracking if you have visited before
                        </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            1 day
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            ajs_user_id 
                       </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            This cookie helps track visitor usage, events, target marketing, and can also measure application performance and stability. 
                       </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            1 day
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            intercom-session-c5ke8zbr 
                       </th>
                        <td>
                            .hotjar.com
                        </td>
                        <td>
                            Identifier for each unique browser session.
                       </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            1 day
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _gaexp
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            Used to determine a user's inclusion in an experiment and the expiry of experiments a user has been included in
                       </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _gat_UA-147691944-1
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            Used to send data to Google Analytics about the user statistics.
                       </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _hjIncludedInSample
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            It uniquely identifies a visitor during a single browser session and indicates they are included in an audience sample.
                       </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            Session
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _top10investment.com_session
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            File in a temporary directory on the browser to register session variables.
                       </td>
                        <td> 
                            HTTP
                        </td>                            
                        <td>
                            Session
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            OTZ
                       </th>
                        <td>
                            google.com
                        </td>
                        <td>
                            Used by Google Analytics that provides an aggregate analysis of Website visitors
                       </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _gcl_au
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            1t's the first party cookie for "Conversion Linker" functionality.
                        </td>
                        <td> 
                            
                        </td>                            
                        <td>
                            60 days
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _ga
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            Registers a unique ID that is used to generate statistical data on how the visitor uses the website
                        </td>
                        <td> 
                            HTTP
                        </td>                            
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _gat
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            Used by Google Analytics to throttle request rate                        </td>
                        <td> 
                            HTTP
                        </td>                            
                        <td>
                            1 Day
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            _gid
                       </th>
                        <td>
                            top10investment.com
                        </td>
                        <td>
                            Registers a unique ID that is used to generate statistical data on how the visitor uses the website.                        </td>
                        <td> 
                            HTTP
                        </td>                            
                        <td>
                            1 Day
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            collect
                       </th>
                        <td>
                            google-analytics.com
                        </td>
                        <td>
                            Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels  
                         </td>    
                         <td> 
                            Pixel
                        </td>                            
                        <td>
                            Session
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <h4>Marketing Cookies

                </h4>
                <p>
                    These are used to track visitors to a website with the intention or displaying advertisements that are relevant to the user, these may include cookies set and collected by our third-party advertisers or providers:
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cookie Name:</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Type</th>
                            <th scope="col">Expiry</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">DSID
    
                            </th>
                            <td>.doubleclick.net
    
                            </td>
                            <td>
                                DSID are used to link your activity across devices if you've previously signed in to your Google Account on another device.                            </td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                IDE
                            </th>
                            <td>
                                .doubleclick.net
                            </td>
                            <td>
                                ‘IDE‘ is stored in browsers by Google for advertising purpose.
                            </td>
                            <td> 
                                
                            </td>                            
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                datr
                            </th>
                            <td>
                                .facebook.com
                            </td>
                            <td>
                                datr cookie is to identify the web browser being used to connect to Facebook independent of the logged in user.                            </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                2 year
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                sb
                            </th>
                            <td>
                                .facebook.com
                            </td>
                            <td>
                                Used by Facebook to improve friend suggestions
                            </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                2 year
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                __Secure-3PSIDCC
                            </th>
                            <td>
                                .google.com
                            </td>
                            <td>
                                These cookies are used to deliver ads more relevant to you and your interests
                            </td>
                            <td> 
                                
                            </td>                            
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                SIDCC
                            </th>
                            <td>
                                .google.com
                            </td>
                            <td>
                                This cookie carries out information about how the end user uses the website and any advertising that the end user may have seen before visiting the said website.                            </td>                        
                            <td> 
                                
                            </td>                            
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                1P_JAR
                            </th>
                            <td>
                                .gstatic.com
                            </td>
                            <td>
                                This cookie carries out information about how the end user uses the website and any advertising that the end      user may have seen before visiting the said website.
                           </td>                        
                            <td> 
                                
                            </td>                            
                            <td>
                               30 days
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _uetsid 
                           </th>
                            <td>
                                .hotjar.com
                            </td>
                            <td>
                                This cookie is used by Bing to manage the advertising/ ads targeting.
                            </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                1 Day
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _uetvid 
                           </th>
                            <td>
                                .top10investment.com
                            </td>
                            <td>
                                _uetvid. This is a cookie utilised by Microsoft Bing Ads and is a tracking cookie.  
                            </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                17 day
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _gcl_aw 
                           </th>
                            <td>
                                .top10investment.com
                            </td>
                            <td>
                                Used by Google AdSense for experimenting with advertisement efficiency across websites using their service                            </td>
                            <td> 
                                
                            </td>                            
                            <td>
                                2 Months
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _fbp 
                           </th>
                            <td>
                                top10investment.com
                            </td>
                            <td>
                                Used by Facebook to deliver a series of advertisement products such as real time bidding from third party                           </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                3 Months
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _schn 
                           </th>
                            <td>
                                top10investment.com
                            </td>
                            <td>
                                ITracks the individual sessions on the website, allowing the website to compile statistical datafrom multiple visits. This data can also be usedto create leads for marketing purposes.
                           </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                Session
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _scid
                           </th>
                            <td>
                                top10investment.com
                            </td>
                            <td>
                                Tracks the individual sessions on the website, allowing the website to compile statistical datafrom multiple visits. This data can also be usedto create leads for marketing purposes.
                           </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                Session
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                _scid
                           </th>
                            <td>
                                top10investment.com
                            </td>
                            <td>
                                Sets a unique ID for the visitor, that allows third party advertisers to target the visitor with relevant advertisement. This pairing service is provided by third party advertisement hubs, which facilitates real-time bidding for advertisers
                           </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                13 Months
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                ads/ga-audiences
                           </th>
                            <td>
                                google.com
                            </td>
                            <td>
                                Used by Google AdWords to re-engage visitorsthat are likely to convert to customers based on the visitor's on line behaviour across websites.
                           </td>
                            <td> 
                                Pixel
                            </td>                            
                            <td>
                                Session
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                MUID
                           </th>
                            <td>
                                bing.com
                            </td>
                            <td>
                                Used widely by Microsoft as a unique user ID. The cookie enables user tracking by synchronising the ID across many Microsoft domain s.                           </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                1 Year
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                tr
                           </th>
                            <td>
                                facebook.com
                            </td>
                            <td>
                                Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertisers.                           </td>
                            <td> 
                                Pixel
                            </td>                            
                            <td>
                                Session
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                fr
                           </th>
                            <td>
                                facebook.com
                            </td>
                            <td>
                                Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertiser
                            </td>
                            <td> 
                                HTTP
                            </td>                            
                            <td>
                                3 Months
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
     <div class="privacy mt-5">
        <h4><a href="/terms-and-condition" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Terms & Conditions</a> | <a href="/privacy-policy" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Privacy Policy</a> | <a href="/cookie-policy" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Cookie Policy</a></h4>
        <div class="container" >
            <h1>Risk Warnings and Disclaimer</h1>
            The value of stocks and shares and any dividend income, may fall as well as rise, and is not guaranteed so you may get back less than you invested. You should not invest any money you can’t afford to lose and should not rely on any dividend income to meet your living expenses. Stocks listed on overseas exchanges may be subject to additional dealing and exchange rate charges, administrative costs, withholding taxes, different accounting and reporting standards, may have other tax implications, and may not provide the same, or any, regulatory protection. Exchange rate charges may adversely affect the value of shares in sterling terms, and you could lose money in sterling even if the stock rises in the currency of origin. Any performance statistics that do not adjust for exchange rate changes are likely to result in inaccurate real returns for sterling-based UK investors.<br>
            <br>
            We have taken reasonable steps to ensure that any information provided is accurate at the time of publishing. Any opinions expressed are the opinions of the author only. The content provided in this article has not taken into account the circumstances of any specific individual and does not constitute personal advice or a personal recommendation for any individual; neither should it be relied upon by any individual when making an investment decision. If you require any personal advice or personal recommendation, please speak to an independent qualified financial adviser. No liability is accepted by the author, https://top10investment.com/ or its offices, or ESL CONSULTANCY SERVICES LTD or its Officers, for any investment loss, or any other loss or detriment experienced by any individual for any investment decision, whether consequent to, or in any way related to this content, the provision of which is an unregulated activity. The Financial Ombudsman Service and Financial Services Compensation Scheme may consider certain investment related claims. Please refer to FOS and FSCS for up-to-date information, including eligibility criteria.<br>
            <br>
            We do not provide personal advice nor will we arrange any product on your behalf. Should you require advice you should speak to a qualified financial adviser.<br>
            <br>
            This website is owned and operated by ESL CONSULTANCY SERVICES LTD a company registered in the United Kingdom, with its registered address at Xl House Mill Court, Spindle Way, Crawley, West Sussex, England, RH10 1TT.<br>
            <br>
            Company registration number 11483654 - Incorporated on 25 July 2018<br>
            <br>
            FCA Registration Details: Address: 18 The Boulevard, Horsham, West Sussex, RH12 1EP, UNITED KINGDOM<br>
            <br>
            Firm Reference Number: 835333<br>
        </div>
      </div>
 </div>
 <div class="container-fluid ftr_bg mt-5">
     <h6>All rights Reserved. © 2022 <strong>Go4.finance</strong></h6>
 </div>
</body>
</html>