<html>
<body style="background-color: #d0d9e9bd;">
<section>
<div class="container">
  <h1>Welcome to the ESL CONSULTANCY<br/> SERVICES LTD - Privacy Notice</h1>
  <p>This information has been produced to help you understand everything you need to know about the way ESL CONSULTANCY SERVICES LTD collects, uses and shares personal data, what your legal rights are and how to exercise them.</p>
  <p>We hope you’ll take some time to read this document; we’ve tried to keep it all as simple as possible and to avoid jargon, and we’ll make our best efforts to keep you informed if there are any changes to the way we process your personal data in the future.</p>
  <p>ESL CONSULTANCY SERVICES LTD takes its responsibility of protecting your data very seriously and we do advise you get to know our practices – If there’s anything here you don’t understand or if you want to ask any questions, please feel free to contact us (detail are at the end).</p>
  <h3>Who is the Data Controller?</h3>
  <p>We are ESL CONSULTANCY SERVICES LTD, trading as <br/>
  <a href="https://top10investment.com/">https://top10investment.com/</a>
  <p>Registered address:<br/>Xl House Mill Court, Spindle Way, Crawley, West Sussex, England, RH10 1TT
  License Number: 11483654 - Incorporated on 25 July 2018
  In this document ESL CONSULTANCY SERVICES LTD may be referred to as “we”, “us”, or “our”.
  </p>
  <h3>What kinds of personal data does ESL CONSULTANCY SERVICES LTD process?</h3>
  <p>ESL CONSULTANCY SERVICES LTD collects personal data for specific purposes; with that in mind we have created a list of the types of personal data that we may collect, either directly from yourself or from other sources, in order to achieve those purposes.<br/>The kinds of personal data we may collect are:</p>
  <table>
    <thead>
      <tr class="text-center col-6">
        <td>
          <h4>If you are a:</h4>
        </td>
        <td>
          <h4>We may process these types of<br/> personal data:</h4>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center col-6">
        <td class="text-left">
          <p>Lead</p>
        </td>
        <td>
          <p>Forename, surname, email, telephone number. Postcode IP address</p>
        </td>
      </tr>
      <tr class="text-center col-6">
        <td class="text-left">
          <p>Partners</p>
        </td>
        <td>
          <p>Name, address, telephone, email</p>
        </td>
      </tr>
      <tr class="text-center col-6">
        <td class="text-left">
          <p>Affiliates</p>
        </td>
        <td>
          <p>Name, address, telephone, email</p>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>What are the purposes ESL CONSULTANCY SERVICES LTD collects personal data for?</h3>
  <p>ESL CONSULTANCY SERVICES LTD uses personal data firstly to fulfil any contractual obligations that exist between us and yourself; where we request personal data be provided to enter into, or meet the terms of any such contract, you will be required to provide the relevant personal data or we will not be able to deliver the goods or services you want. In such cases the lawful basis of us processing the personal data is that it is necessary for the performance of a contract.</p>
  <p>We are required by law to process personal data for purposes relating to our legal obligations, these include:</p>
  <ul>
    <li>To provide for the organizations’ financial commitments, or to relevant financial authorities</li>
    <li>To carry out required business operations and due diligence (E.g. administration, reorganizations, security, investment or corporate/asset sales)</li>
    <li>To cooperate with relevant authorities for reporting criminal activity, or to detect and prevent fraud</li>
    <li>To investigate any insurance claims, claims of unfair dismissal, claims of any kind of harassment or of discrimination, or any other claim whereby the organisation may have to defend itself</li>
  </ul>
  <p>Where we have received your consent to do so; ESL CONSULTANCY SERVICES LTD will use your personal data for the following purposes</p>
  <ul>
    <li>To inform you of other goods and services provided by third-party organizations. The goods and services we will promote are mobile phone and sim deals, broadband deals, loan and finance deals, energy deals and other relevant money-saving offers under the grounds of legitimate interest.</li>
    <li>To provide your personal data to third-party organizations for their own future marketing purposes.<br/>We will also process personal data to achieve our various legitimate business interests; these are purposes that have been defined by us where we have balanced the necessity on our part to process the data for each purpose against your own expectations, interests and legal rights.</li>
  </ul>
  <p>Our legitimate interests for processing personal data are:</p>
  <ul>
    <li>To provide goods and services where it has been requested</li>
    <li>To send notification on subjects to individuals who have asked to be kept informed (i.e. subscribers)</li>
  </ul>
  <h3>Where does ESL CONSULTANCY SERVICES LTD obtain personal data from?</h3>
  <p>We will collect personal data directly from you in various ways. This could include when you complete an online form, or if you provide the data directly to a representative of ESL CONSULTANCY SERVICES LTD<br/>
  We also gather personal data by the following methods:</p>
  <ul>
    <li>From third-party organizations provided for a specific purpose; to deliver a product or service that has been requested.</li>
  </ul>
  <h3>Who will ESL CONSULTANCY SERVICES LTD share your personal data with?</h3>
  <p>In order to achieve the above stated purposes for which we process your personal data, we may have to share your personal data with some specific third-party organizations.</p>
  <p>We shall make all reasonable efforts to ensure that any third-party we share your personal data with is also compliant with data protection law.</p>
  <p>The third parties we may share your personal data with include:</p>
  <ul>
    <li>Third party organizations acting as either data processors or data controllers where it is necessary to provide goods or services that have been requested, or to achieve our business purposes.</li>
    <li>Third party data processes or data controllers necessary to set up various resources.</li>
    <li>Third party data processors acting as marketing agents.</li>
  </ul>
  <p>The specific types of third-party ESL CONSULTANCY SERVICES LTD may share your personal data with include:<br/>
  IT platform providers, aggregators<br/>ESL CONSULTANCY SERVICES LTD is not responsible for the data protection compliance of any of these third parties.<br/>
  If we sell or reorganise our business, or if otherwise required by law or by an authorised regulator, we may transfer your personal data as a part of the general business data to the relevant parties.
  <h3>Where will ESL CONSULTANCY SERVICES LTD store your personal data?</h3>
  <p>ESL CONSULTANCY SERVICES LTD will not transfer your personal data to any country outside the European Union (EU) other than those that have been granted an adequacy decision under the General Data Protection Regulation. We may however share your personal data with third-party organizations who then intend to transfer the data outside the EU. We shall take all reasonable measures to ensure those third parties are also compliant with data protection law.</p>
  <h3>How long will ESL CONSULTANCY SERVICES LTD keep your personal data for?</h3>
  <p>We will keep your personal data only for as long as required in order to achieve the purposes for which it was collected, in line with this privacy notice.<br/>
  The following criteria apply that determine the period for which we will store your personal data:<br/></p>
  <ul>
    <li>Until we are no longer required to do so in order to comply with any regulatory requirements or financial obligations that we are subject to.</li>
    <li>Until we are no longer required to do so by any law it is subject to.</li>
    <li>Until all purposes for which the data was originally gathered have become irrelevant or obsolete.</li>
    <li>We will not retain your data for longer than 6 months after your last interaction.</li>
  </ul>
  <p>Where the lawful basis of our processing is based on protection of vital interests and insofar any relevant health and safety obligations apply, ESL CONSULTANCY SERVICES LTD may retain your personal data for up to 40 years.</p>
  <h3>Your Rights, Our Responsibility</h3>
  <p>There are several rights granted to you immediately upon providing us with your personal information; some of these are mentioned above. We’d like you to know that at ESL CONSULTANCY SERVICES LTD we take your rights as aNatural Person seriously and will always conduct ourselves in a way that is considerate of our responsibility to serve your legal rights.<br/>
  <h4>The Right of Access</h4>
  This grants you the right to confirm whether or not your personal data is being processed, and to be provided with relevant details of what those processing operations are and what personal data of yours is being processed.<br/>
  If you would like access to the personal data we have about you, we ask that you contact us by using our details below<br/>
  <h4>The Right to Rectification</h4>
  This one is fairly straightforward; if you notice that the data we have about you is inaccurate or incomplete, you may request we rectify the mistake. We will make every effort to respond to requests of this type immediately<br/>
  <h4>The Right to Objection</h4>
  The right to object is a basic freedom all democracies enjoy. If you wish to object to the way we use, or have used, your personal data you may do so freely.<br/>
  <h4>The Right to Portability</h4>
  This is a legal right afforded to you that states we must pass on all of the details you have provided to us in a machine-readable format, either to your or to another provider of your choosing.<br/>
  <h4>The Right to Complain</h4>
  We will always try to maintain the highest standards and encourage the confidence our customers have in us as an organization. In order that we can achieve this we do request that any complaints be first brought to our attention so we can properly investigate matters; if however you would like to complain about ESL CONSULTANCY SERVICES LTD to a supervisory authority you may do so by contacting the Information Commissioner's Office on 0303 123 1113, or by visiting their website - <a href="https://ico.org.uk/concerns">https://ico.org.uk/concerns</a></p>
  <h3>ESL CONSULTANCY SERVICES LTD contact details:</h3>
  <p>Xl House Mill Court, Spindle Way, Crawley, West Sussex, England, RH10 1TT<br/>License Number: 11483654 - Incorporated on 25 July 2018</p>
  <h3>Who is the ESL CONSULTANCY SERVICES LTD Data Protection Officer?</h3>
  <p>Ametros Group Ltd<br/>Lakeside offices, Thorn Business Park, Hereford, England, HR2 6JT<br/>dpo@ametrosgroup.com<br/>
  This privacy policy was last reviewed and updated on 5th October 2020
  Go4.finance is the property and trading style of ESL CONSULTANCY SERVICES LTD<br/>
  Registered in England and Wales, License Number: 11483654</p>
</div>
</section>
</body>
</html>