<div class="upper_bg">
    <div class="container">
        <div class="nav_bg">
            <div class="row">
                <div class="col-md-6 col-7">
                    <%= image_tag 'logo.jpg', alt: 'icon', class: 'img-fluid' ,width: '277', height: '38' %></div>
                <!--   <div class="col-md-6 col-5 logo"><img src="images/trustpilot.jpg" width="100" class="text-right" height="49" alt=""/></div>-->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="hading">
            <h2> Thank You For Your Enquiry<br>
            Someone From The Team Will Be In Touch Shortly</h2>
        </div>
    </div>
</div>
<div class="privacy mt-5">
<h4><a href="/terms-and-condition" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Terms & Conditions</a> | <a href="/privacy-policy" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Privacy Policy</a> | <a href="/cookie-policy" style="text-decoration: none; color: rgb(0, 154, 208);" target="blank">Cookie Policy</a></h4>
</div>
<div class="container text-center" >
    <h1>Risk Warnings and Disclaimer</h1>
    The value of stocks and shares and any dividend income, may fall as well as rise, and is not guaranteed so you may get back less than you invested. You should not invest any money you can’t afford to lose and should not rely on any dividend income to meet your living expenses. Stocks listed on overseas exchanges may be subject to additional dealing and exchange rate charges, administrative costs, withholding taxes, different accounting and reporting standards, may have other tax implications, and may not provide the same, or any, regulatory protection. Exchange rate charges may adversely affect the value of shares in sterling terms, and you could lose money in sterling even if the stock rises in the currency of origin. Any performance statistics that do not adjust for exchange rate changes are likely to result in inaccurate real returns for sterling-based UK investors.<br>
    <br>
    We have taken reasonable steps to ensure that any information provided is accurate at the time of publishing. Any opinions expressed are the opinions of the author only. The content provided in this article has not taken into account the circumstances of any specific individual and does not constitute personal advice or a personal recommendation for any individual; neither should it be relied upon by any individual when making an investment decision. If you require any personal advice or personal recommendation, please speak to an independent qualified financial adviser. No liability is accepted by the author, https://top10investment.com/ or its offices, or ESL CONSULTANCY SERVICES LTD or its Officers, for any investment loss, or any other loss or detriment experienced by any individual for any investment decision, whether consequent to, or in any way related to this content, the provision of which is an unregulated activity. The Financial Ombudsman Service and Financial Services Compensation Scheme may consider certain investment related claims. Please refer to FOS and FSCS for up-to-date information, including eligibility criteria.<br>
    <br>
    We do not provide personal advice nor will we arrange any product on your behalf. Should you require advice you should speak to a qualified financial adviser.<br>
    <br>
    This website is owned and operated by ESL CONSULTANCY SERVICES LTD a company registered in the United Kingdom, with its registered address at Xl House Mill Court, Spindle Way, Crawley, West Sussex, England, RH10 1TT.<br>
    <br>
    Company registration number 11483654 - Incorporated on 25 July 2018<br>
    <br>
    FCA Registration Details: Address: 18 The Boulevard, Horsham, West Sussex, RH12 1EP, UNITED KINGDOM<br>
    <br>
    Firm Reference Number: 835333<br>
</div>
<div class="container-fluid ftr_bg mt-5">
     <h6>All rights Reserved. © 2022 <strong>Go4.finance</strong></h6>
 </div>